* {
  box-sizing: border-box;
  text-align: center;
}
html {
  font-size: 62.5%;
}

body {
  /* background-color: black; */
  margin: 0;
}

#container {
  max-width: 70%;
  margin: 5rem auto;
}
form {
  width: 100%;
  background-color: antiquewhite;
  padding: 2rem 1rem;
}

select {
  width: 25rem;
  height: 3rem;
  padding-left: 7px;
}

input[type="color"] {
  width: 7rem;
  height: 3.1rem;
  float: left;
  padding: 0;
}

button {
  width: 13rem;
  height: 4rem;
  float: right;
  margin-bottom: 0;
}

button:hover {
  cursor: pointer;
}
#color-container,
#color-container-hex {
  display: flex;
}

#color-container > * {
  width: 20%;
  height: 50rem;
  background-color: aqua;
}

#color-container-hex > * {
  width: 20%;
  height: 5rem;
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: center;
}
#color-container div {
  display: flex;
  justify-content: center;
  align-items: center;
}
div span {
  font-weight: bold;
}
/* Pour les petits écrans */
@media only screen and (max-width: 768px) {
  form#color-form {
    padding: 1rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
